{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}

    <ul>
        <li>New password: {{ form.new_password1 }}</li>
        <p style="margin-left: 60px">
            <span>Your password can't be too similar to your other personal information.</span><br>
            <span>Your password must contain at least 8 characters.</span><br>
            <span>Your password can't be a commonly used password.</span><br>
            <span>Your password can't be entirely numeric.</span><br>
        </p>
        <li> Repeat your new password: {{form.new_password2 }}</li>
    </ul>
  <input type="submit" value="Change my password">
</form>
{% endblock %}