{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>


<h1>Micro-learning contents generator</h1>

<p><a class="button" href="{%  url 'user_page'%}">Go home</a></p>

<form action="{% url 'micro_content_manager:store' %}" method="post">

    {% csrf_token %}
    <span> User: {{ user.username }}</span>
    <h2>Content</h2>
    <p>Title: <input type="text" name="title" required></p>
    <p>Tags: <input type="text" name="mc_tags" required>
     (Tags must be inserted separated by blank spaces (e.g., Tag1 Tag2 Tag3))</p>

    {% for p in paragraphs %}
        <p>Paragraph {{ forloop.counter }}:<textarea name="paragraph{{ forloop.counter }}" rows="1"
                                                     cols="100"></textarea></p>
    {% endfor %}
    <p>Video URL:<input name="videoURL" type="url"></p>
    <p>Video format:<select name="videoFormat">
        <option value="mp4" selected>mp4</option>
        <option value="ogg">ogg</option>
    </select></p>

    <p>Upload Form:<select name="video_upload_form">
        <option value="from_existing_file" selected>From existing file</option>
        <option value="link_from_youtube">Link from YouTube</option>
        <option value="download_from_youtube">Download from Youtube</option>
        <option value="external_repository">From external repository</option>
    </select></p>

    <h2>Quiz</h2>
    {% for q in questions %}
        <p>Question {{ forloop.counter }}: <textarea name="question{{ forloop.counter }}" rows="1"
                                                     cols="100"></textarea></p>
        Choices {{ forloop.counter }} (write the possible answers and sel_ect the correct one):<br>
        {% for c in choices %}
            <input type="radio" name="answer{{ forloop.parentloop.counter }}"
                   value="choice{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                   {% if forloop.counter == 1 %}checked {% endif %}>
            <input type="text" name="choice{{ forloop.parentloop.counter }}_{{ forloop.counter }}"><br>
        {% endfor %}
        <p>Explanation {{ forloop.counter }}: <textarea name="explanation{{ forloop.counter }}" rows="1"
                                                        cols="100"></textarea></p>
    {% endfor %}

    <input type="hidden" id="author" name="author" value={{ user.username }}>
    <input type="hidden" id="creation_type" name="creation_type" value="own creation">
    <input type="submit" value="Create micro-learning content">

</form>

</body>
</html>