{% load static %}
<style>

    #createButton{
    margin: 400px 100px 500px 0px !important;
}

    #guideline-container{
        text-align: center;
        font-size: 20px;
        margin: 500px 1200px 80px 60px ;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px     6px rgba(0,0,0,0.23);
    }


     #microContentPreview-container{
         background-color: mediumvioletred;
         margin: 0 5in 0.3in 5in;
         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px     6px rgba(0,0,0,0.23);

    }
     #microContentImage {
         height: 7.1in;
         width: 5.2in;
         margin-bottom: -0.05in;
         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px     6px rgba(0,0,0,0.23);

     }
     #previewText {
         text-align: center;
     }
    #options-container{
        margin-top: -1000px!important;
    }


</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create selection</title>
      <link rel="stylesheet" type="text/css" href="{% static 'demo2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
</head>
<body class="bg-study">
 <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
         $(document).ready(function() {    //llamamos la a funcion ready() porque vamos a hacer referencia a etiquetas que estan declaradas posteriormente en el documento
             var options=document.querySelectorAll("#options-container h5");
               for (var i=0;i<options.length;i++) {
                    options[i].addEventListener("click",showMicroLearningContent,false);
               }

           });

         function init() {
             $("#option1").addClass("selected");
             $("#option1").addClass("animated bounce");

         }


         function showMicroLearningContent(num) {
             switch (num.target) {
                 case option1:
                     $("#options-container  h5").removeClass("selected");
                     $("#options-container  h5").removeClass("animated bounce");
                     $("#option1").addClass("selected");
                     $("#option1").addClass("animated bounce");
                     $("#microContentImage-container").html("<img id=\"microContentImage\" class = \"border selected\"  src=\"{% static 'images/1video_3questions.png'%}\">\n");
                     $('#createButton').attr('href', '{% url 'micro_content_manager:micro_content_creation' 1 3 %}');
                     $(document.getElementById("previewText").textContent="Option 1 preview");
                     break;
                 case option2:
                     $("#options-container  h5").removeClass("selected");
                     $("#options-container  h5").removeClass("animated bounce");
                     $("#option2").addClass("selected");
                     $("#option2").addClass("animated bounce");
                     $("#microContentImage-container").html("<img id=\"microContentImage\" class = \"border selected\"  src=\"{% static 'images/1video_5questions2.png'%}\">\n");
                     $('#createButton').attr('href', "{% url 'micro_content_manager:micro_content_creation' 1 5 %}");
                     $(document.getElementById("previewText").textContent="Option 2 preview");
                     break;
                 case option3:
                     $("#options-container  h5").removeClass("selected");
                     $("#options-container  h5").removeClass("animated bounce");
                     $("#option3").addClass("selected");
                     $("#option3").addClass("animated bounce");
                     $("#microContentImage-container").html("<img id=\"microContentImage\" class = \"border selected\"  src=\"{% static 'images/2videos_5questions.png'%}\">\n");
                     $('#createButton').attr('href', "{% url 'micro_content_manager:micro_content_creation' 2 5 %}");
                     $(document.getElementById("previewText").textContent="Option 3 preview");
                    break;
                 case option4:
                     $("#options-container  h5").removeClass("selected");
                     $("#options-container  h5").removeClass("animated bounce");
                     $("#option4").addClass("selected");
                     $("#option4").addClass("animated bounce");
                     $("#microContentImage-container").html("<img id=\"microContentImage\" class = \"border selected\"  src=\"{% static 'images/2videos_7questions.png'%}\">\n");
                     $('#createButton').attr('href', "{% url 'micro_content_manager:micro_content_creation' 2 7 %}");
                     $(document.getElementById("previewText").textContent="Option 4 preview");
                   break;
             }
           }
           window.onload=init; //cuando carga la ventaja ejecutara la funcion indicada
        </script>
    <div class="body">
        <h1>Create Selection</h1>

        <div class="sky-form">

            <div class="white">
                    <fieldset>
                        <a id="createButton" href="{% url 'micro_content_manager:micro_content_creation' 1 3 %}" class="button" style="background-color: green;">Create</a>

                                    <div id="microContentPreview-container" >
                                        <h3 id="previewText">Option 1 preview</h3>
                                        <div id="microContentImage-container">
                                            <img id="microContentImage" src="{% static 'images/1video_3questions.png'%}">
                                        </div>
                                    </div>
                                    <div id="left-container">
                                         <div id="options-container">
                                                    <h5 id="option1" class="button green option" style="background-color: #2da5da!important;">1 Video 3 Questions</h5>
                                                    <h5 id="option2" class="button green option" style="background-color: #2da5da!important;">1 Video 5 Questions</h5>
                                                    <h5 id="option3" class="button green option" style="background-color: #2da5da!important;">2 Videos 5 Questions</h5>
                                                    <h5 id="option4" class="button green" style="background-color: #2da5da!important;">2 Videos 7 Questions</h5>

                                        </div>
                                        <div id="guideline-container">
                                            <h2>Choose one out of the four options below. </h2>
                                        </div>

                                    </div>
                    </fieldset>
                 </div>
        </div>

    </div>
</body>
</html>