{% load static %}
<!DOCTYPE html>
<style>
    #full-container {
        margin-left: 500px;
    }

</style>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'demo2.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
     <title>Do the Micro Content</title>
</head>
<body class="bg-study">

<script>
    function solution() {
        var del = document.querySelectorAll(".solution");
        var sol = document.querySelectorAll(".aux");
        for (var i=0;i<del.length;i++) {
            del[i].innerHTML = sol[i].innerHTML;
        }

        for(var z=0; z<sol.length; z++){
            sol[z].remove();
        }
    }

    function checking() {
        var sel = document.querySelectorAll(".sel");
        var rad = document.querySelectorAll(".rad");
        var text = document.querySelectorAll(".option");
        for (var i=0; i<{{ micro_content.questions.count }}; i++) {
            for (var z=0; z<3; z++) {
               if(text[z+3*i].innerHTML == sel[i].innerHTML) {
                   rad[z+3*i].checked = true;
               }
            }
        }
        for (var u=0; u<sel.length; u++) {
                sel[u].remove();
        }
    }

</script>
    <div class="body" style="max-width: 1000px!important;">
        <h2>{{ micro_content.title }}</h2>
        <div class="sky-form">
        <div class="white">
            {{ error_message }}
            <fieldset>
                <a id="" class="button" href="{% url 'micro_content_manager:menu' %}" style="margin-right: 160px!important; font-size: 20px; background-color:#2da5da">Home</a>
                <p>Tags:
                    {{ micro_content.tags }}
                </p>
                <p> {{ micro_content.text.0 }}</p>
            </fieldset>
            <fieldset>
                <div>
                    {% for m in micro_content.media %}
                        {% if m.upload_form == "from_existing_file"%}
                             <video width="700" height="440" id="video{{ forloop.counter }}" src="{{ MEDIA_URL }}{{ m.mediaFile }}" controls></video>
                        {% elif m.upload_form == "link_from_youtube" %}
                            <iframe width="700" height="440" id="video{{ forloop.counter }}" src="{{ m.url }}"></iframe>
                        {% endif %}
                    {% endfor%}
                </div>

            </fieldset>

            <fieldset id="quiz-container">
                    <h4>Quiz: </h4>
                    {# In case of having finished the micro content, the solutions messages will be displayed #}
                    {% if sol_messages  %}
                        <p>You got <strong>{{ correct_answers }}</strong> correct answers out of <strong>{{ quiz_size }}</strong> questions at <strong>{{ micro_content.title }}</strong></p>
                        <p>Your answers:</p>
                        {% for sel in selections.values %}
                            <p class="sel" id="sel{{ forloop.counter }}">{{ forloop.counter }}. {{ sel }}</p>
                        {% endfor %}
                        <p>Solutions:</p>
                        {% for sol in sol_messages.values %}
                                    <p class="aux" id="aux{{ forloop.counter }}">{{ forloop.counter }}.  {{ sol }}</p>
                               {% endfor %}
                        <br>
                        <br>
                        <form action="{% url 'micro_content_manager:micro_content_vote' %}" method="post">

                            {% csrf_token %}
                                <input type="hidden" id="mc_id" name="mc_id" value={{ micro_content.id }}>

                                {% for question in  micro_content.quiz %}
                                    <section>{{ forloop.counter }}: {{ question.question }}</section>
                                        {% for choice in question.choices %}
                                            <label class="choice">
                                                <input class="rad"  id="radio{{ forloop.parentloop.counter }}{{ forloop.counter }}" type="radio" name="choice{{forloop.parentloop.counter}}" value="{{ choice.id }}" disabled>
                                                <label class="option" for="choice{{ forloop.counter }}">{{ choice.choice_text  }}</label><br>
                                            </label>
                                        {% endfor %}
                                    <section class="solution" id="sol{{ forloop.counter }}" style="font-weight: bold;"></section>
                                    <section>Explanation: {{ question.explanation }}</section>
                                    <br>
                                {% endfor %}

                                <script>solution();</script>
                                <script>testing();</script>
                                <br>
                        </form>

                    {% else %}
                            <form action="{% url 'micro_content_manager:micro_content_vote' %}" method="post">
                                {% csrf_token %}
                                    <input type="hidden" id="mc_id" name="mc_id" value={{ micro_content.id }}>
                                    {% for question in micro_content.quiz %}
                                        <section>{{ forloop.counter }}: {{ question.question }}</section>
                                            {% for choice in question.choices %}
                                                <label class="choice">
                                                    <input type="radio" name="selection{{forloop.parentloop.counter}}" value="{{ forloop.counter }}" required>
                                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br><br>
                                                </label>
                                            {% endfor %}
                                        <br>
                                    {% endfor %}
                                    <br>
                                        <input class="button" type="submit" value="Finish" style="background-color: green; margin: 0px 300px 100px 0px;">
                            </form>
                    {% endif %}

            </fieldset>
            <script>checking();</script>
          </div>
        </div>
        </div>
    </div>
</body>
</html>