{% load static %}
<!DOCTYPE html>
<style>
    #full-container {
        margin-left: 500px;
    }
</style>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'demo2.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
     <title>Do the Micro Content</title>
</head>
<body class="bg-study">
    <div class="body" style="max-width: 1000px!important;">
        <h2>{{ micro_content.title }}</h2>
        <div class="sky-form">
        <div class="white">
            {{ error_message }}
            <fieldset>
                <p>Tags:
                    {% for tag in micro_content.mc_tags.all %}
                               <span style="display:inline-block; width: 30px;"> {{ tag.name }}  </span>
                    {% endfor %}
                </p>
                <p> {{ micro_content.text.0 }}</p>
            </fieldset>
            <fieldset>
                <div>
                    {% for v in micro_content.videos %}
                      <iframe width="300" height="160" src="{{ v.url }}"></iframe>
                    {% endfor%}
                </div>
            </fieldset>

            <fieldset>
                    <h4>Quiz: </h4>
                    <form action="{% url 'micro_content_manager:micro_content_vote' %}" method="post">
                        {% csrf_token %}
                    <input type="hidden" id="mc_id" name="mc_id" value={{ micro_content.id }}>
                    {% for question in micro_content.questions.all %}
                        <section>{{ forloop.counter }}: {{ question.question }}</section>
                            {% for choice in question.choices.all %}
                                <label class="choice">
                                    <input type="radio" name="choice{{forloop.parentloop.counter}}" value="{{ choice.id }}" required>
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                </label>
                            {% endfor %}
                        <br>
                    {% endfor %}
                    <br>
                        <input class="button" type="submit" value="Finish" style="background-color: green; margin: 0px 300px 100px 0px;">
                    </form>
                </div>
            </fieldset>
        </div>
        </div>
    </div>
</body>
</html>