{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Micro Content</title>
      <link rel="stylesheet" type="text/css" href="{% static 'demo2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
    	<link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>

</head>
<body class="bg-study">

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
         $(document).ready(function() {    //llamamos la a funcion ready() porque vamos a hacer referencia a etiquetas que estan declaradas posteriormente en el documento
                    document.getElementById("addQuestion").addEventListener("click", addQuestion, false);
                    var del = document.querySelectorAll("#questions-container span");
                      for (var i=0;i<del.length;i++) {
                          del[i].addEventListener("click",deleteQuestion, false);
                      }
         });
         function deleteQuestion(num) {
              var id = num.target.id;
              id = id.toString();
              i =  id[7];
              $("#q"+i).replaceWith("<span> </span>");
         }
          function addQuestion() {
                     $("#addQuestion-container h5").removeClass("animated bounce");
                     $("#addQuestion-container h5").addClass("animated bounce");
                     $("#idQuestions").attr('value',  parseInt($("#idQuestions").val()) + 1);

                    var id = $("#idQuestions").val();

                    $("#questions-container").append("<div class=\"quest\"  id=\"q"+$("#idQuestions").val()+"\" style=\"order: "+$("#idQuestions").val()+";\">");



                     $("#q"+id).append("<section>\n" +
                         "                                        <label><strong>Position in the Quiz: </strong>\n" +
                         "                                            <select name=\"order"+$("#idQuestions").val()+"\" id=\"order"+$("#idQuestions").val()+"\" onchange=\"applyPosition("+$("#idQuestions").val()+")\">\n" +
                         "                                                 <option value=1 selected>1</option>\n" +
                         "                                                 <option value=2>2</option>\n" +
                         "                                                 <option value=3>3</option>\n" +
                         "                                                 <option value=4>4</option>\n" +
                         "                                                 <option value=5>5</option>\n" +
                         "                                                 <option value=6>6</option>\n" +
                         "                                                 <option value=7>7</option>\n" +
                         "                                                 <option value=8>8</option>\n" +
                         "                                                 <option value=9>9</option>\n" +
                         "                                                 <option value=10 selected>10</option>\n" +
                         "                                            </select>\n" +
                         "                                        </label>\n" +
                         "                                    </section>");
                     $("#q"+id).append("<p>Question "+$("#idQuestions").val()+": <textarea name=\"question"+$("#idQuestions").val()+"\" rows=\"1\"\n" +
                         "                                                             cols=\"80\"></textarea><span id=\"deleteq"+$("#idQuestions").val()+"\" class=\"button red delete-box\">Delete question</span></p></p>");
                     $("#q"+id).append("<p>Choices "+$("#idQuestions").val()+" (write the possible answers and select the correct one):</p>\n");
                     $("#q"+id).append("  {% for c in "   " %}\n"+
                         "                    <p>\n"+
                         "                        <input class=\"choice\"  type=\"radio\" name=\"answer"+$("#idQuestions").val()+"\"\n"
                         +
                         "                               value=\"choice"+$("#idQuestions").val()+"_{{ forloop.counter }}\"\n"
                         +
                         "                               {% if forloop.counter == 1 %}checked {% endif %}>\n"+
                         "                        <input type=\"text\" name=\"choice"+$("#idQuestions").val()+"_{{ forloop.counter }}\">\n"
                         +
                         "                    </p>\n"+
                         "                {% endfor %}<br>");


                        $("#q"+id).append("<p>Explanation "+$("#idQuestions").val()+": <textarea name=\"explanation"+$("#idQuestions").val()+"\" rows=\"1\"\n" +
                                 "                                                                cols=\"100\"></textarea></p></div><br><br>");
                     document.getElementById("deleteq"+id).addEventListener("click", deleteQuestion, false);
            }

             function applyPosition(numberQuestion) {
                order = document.getElementById("order"+numberQuestion).value;
                $("#q"+numberQuestion).css("order", order);
        }
       </script>

    <div class="body">
        <h1>Micro-learning contents generator</h1>

        <form action="{% url 'micro_content_manager:update' %}" method="post" class="sky-form">

            {% csrf_token %}
            <div class="white">
                <h2>Content</h2>
                    <input type="hidden" name="id" value="{{ id }}">
                    <fieldset>
                        <section> <p>Title: <input type="text" name="title" value="{{ content.title }}" required></p></section>
                        <section> <p>Tags:<input type="text" name="mc_tags" value="{{mc_tags}}">
                          Tags must be inserted separated by blank spaces (e.g., Tag1 Tag2 Tag3)</p></section>

                         {% for p in content.text %}
                            <section><p>Paragraph {{ forloop.counter }}:<textarea name="paragraph{{ forloop.counter }}" rows="1"
                                                                         cols="100">{{ p }}</textarea></p></section>
                        {% endfor %}
                    </fieldset>

                    <fieldset>
                        <h2>Videos </h2>
                        {% for v in content.videos %}
                        <section>Video {{ forloop.counter }}</section>
                        <section>URL:<input name="videoURL{{ forloop.counter }}" type="url" value="{{ v.url }}" style="width: 500px;"></section>
                        <section>Format:<select name="videoFormat{{ forloop.counter }}">
                            <option value="mp4" {% if v.format == 'mp4' %} selected {% endif %}>mp4</option>
                            <option value="ogg" {% if v.format == 'ogg' %} selected {% endif %}>ogg</option>
                        </select></section>

                         <section>Upload form:<select name="video_upload_form{{ forloop.counter }}">
                            <option value="from_existing_file" {% if v.upload_form == 'from_existing_file' %} selected {% endif %}>From existing file</option>
                            <option value="link_from_youtube" {% if v.upload_form == 'link_from_youtube' %} selected {% endif %}>Link from YouTube</option>
                            <option value="external_repository" {% if v.upload_form == 'external_repository' %} selected {% endif %}>From external repository</option>
                        </select></section>
                        {% endfor %}
                    </fieldset>

                    <fieldset>

                                <div id="addQuestion-container">
                                    <h2>Quiz </h2>
                                    <h5 id="addQuestion" class="button green">Add Question</h5>
                                </div>
                                <br><br><br><br>


                            <div id="questions-container" style="display: flex; flex-direction: column;">
                                {% for q in content.questions.all %}
                                    <div id="q{{ forloop.counter }}" style="order: {{ forloop.counter }};">
                                    <section>
                                        <label><strong>Position in the Quiz: </strong>
                                            <select name="order{{ forloop.counter }}" id="order{{ forloop.counter }}" onchange="applyPosition({{ forloop.counter }})">
                                                 <option {% if forloop.counter == 1 %} selected {% endif %} value=1>1</option>
                                                 <option {% if forloop.counter == 2 %} selected {% endif %}value=2>2</option>
                                                 <option {% if forloop.counter == 3 %} selected {% endif %} value=3>3</option>
                                                 <option {% if forloop.counter == 4 %} selected {% endif %} value=4>4</option>
                                                 <option {% if forloop.counter == 5 %} selected {% endif %}  value=5>5</option>
                                                 <option {% if forloop.counter == 6 %} selected {% endif %} value=6>6</option>
                                                 <option {% if forloop.counter == 7 %} selected {% endif %} value=7>7</option>
                                                 <option {% if forloop.counter == 8 %} selected {% endif %} value=8>8</option>
                                                 <option {% if forloop.counter == 9 %} selected {% endif %} value=9>9</option>
                                                 <option {% if forloop.counter == 10 %} selected {% endif %} value=10>10</option>
                                            </select>
                                        </label>
                                    </section>

                                        <p>Question {{ forloop.counter }}: <textarea name="question{{ forloop.counter }}" rows="1"
                                                                                     cols="100">{{ q.question }}</textarea><span id="deleteq{{ forloop.counter }}" class="button red delete-box">Delete question</span></p>

                                        <div style="margin-left: 100px;">
                                            Choices {{ forloop.counter }} (write the possible answers and select the correct one):<br>
                                           {% for choice in q.choices.all %}
                                                <input type="radio" name="answer{{ forloop.parentloop.counter }}"
                                                       value="choice{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                                       {% if q.answer == choice.choice_text %}checked {% endif %}>
                                                <input type="text" name="choice{{ forloop.parentloop.counter }}_{{ forloop.counter }}" value={{ choice.choice_text }}>    <br>
                                           {% endfor %}
                                        </div>
                                        <br>
                                        <p>Explanation {{ forloop.counter }}: <textarea name="explanation{{ forloop.counter }}" rows="1"
                                                                                        cols="100">{{ q.explanation }}</textarea></p>
                                        <br><br>

                                    </div>
                                {% endfor %}
                            </div>


                    </fieldset>
                <fieldset>
                        <section>Do you want your micro-content to be visible?
                            <select name="visible">
                                            <option value="yes" {% if content.visible == "yes" %} selected {% endif %}>Yes</option>
                                            <option value="no" {% if content.visible == "no" %} selected {% endif %} > No</option>
                            </select>
                        </section>
                        <section>Allow the rest of the users copying your micro-content?
                            <select name="allow_copy">
                                            <option value="yes" {% if content.allow_copy == "yes" %} selected {% endif %}>Yes</option>
                                            <option value="no" {% if content.allow_copy == "no" %} selected {% endif %}>No</option>
                            </select>
                        </section>
                        <input type="hidden" id="idQuestions" name="idQuestions" value={{ content.questions.count }}>
                        <input class="button" type="submit" value="Save changes" style="background-color: green; margin: 0px 300px 100px 0px;">
                 </fieldset>
                 </div>
            </form>

    </div>
</body>
</html>