{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Micro-learning contents generator</h1>
<a href="{% url 'micro_content_manager:micro_content_creation' 1 3 %}">MC creation</a>
<ul>
    <table>
        {% for id, title in contents %}
            <tr>
                <td>
                <!--    <li><span style="display:inline-block; width: 80px;"><a href="json?content={{ id }}">{{ title }}</a></span></li> -->
                <li><span style="display:inline-block; width: 80px;"><a href="{% url 'micro_content_manager:micro_content_data' id%}">{{ title }}</a></span></li>
                </td>
                <td><a class="button" href="{% url 'micro_content_manager:edit' id %}">Edit</a></td>
                <td><a class="button" href="download?content={{ id }}">Download</a></td>
                <td><a class="button" href="{% url 'micro_content_manager:do_the_micro_content' id%}">Do it!</a></td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <li>There is no micro-learning content</li>
                </td>
            </tr>
        {% endfor %}
    </table>
</ul>
</div>
    <p><a href="{% url 'user_page' %}">Back to my user page</a></p>
</body>
</html>