<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>Micro Content Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'demo2.css' %}">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'searchBar.css' %}">


    <style>
        .button {
            font-weight: bold!important;
        }
        th {
            font-weight: bold!important;
        }
    </style>

</head>
<body class="bg-study">

    <div class="body">
     <h1>Micro content search </h1>

        <div class="sky-form">
            <div class="white">
                <fieldset>
                    <div class="wrapper">
                        <div class="row">
                            <p style="font-weight: bold;font-size: 20px;"><strong>Search in: </strong> </p>
                        </div>
                          <div class="row">
                              <div>
                                         <div class="col span4" >
                                            <a  href="{% url 'micro_content_manager:micro_content_search' 1 %}" class="button" style="margin-left: 0px!important; color: white!important;">My Micro Content</a>
                                        </div>
                                        <div class="col span4">
                                            <a href="{% url 'micro_content_manager:micro_content_search' 2 %}" class="button"  style="margin-left: 0px!important; color: white!important;">All Micro Content</a>
                                        </div>
                                        <a id="" class="button" href="{% url 'micro_content_manager:menu' %}" style="margin-left: 100px!important; font-size: 20px; background-color:rebeccapurple">Home</a>
                                </div>
                          </div>
                            <br><br>
                            <div class="row">
                                <section>
                                        <p style="font-weight: bold;font-size: 20px;"><strong>Search parameters: </strong></p>
                                </section>
                            </div>
                          <div class="row">

                              <div class="col span7 wrap" >

                                      {% if tab == 1 %}
                                            <form action="{% url 'micro_content_manager:micro_content_search' 1 %}" method="post" >
                                      {% else %}
                                                <form action="{% url 'micro_content_manager:micro_content_search' 2 %}" method="post" >
                                     {% endif %}
                                      {% csrf_token %}
                                      <input type="hidden" name="tab" value="{{ tab }}">
                                      <input style="font-size: 20px;" type="text" name="search" class="searchTerm" placeholder="Search by title or tags...">
                                      <button type="submit" class="searchButton">
                                        <i class="fa fa-search"><img src='{% static 'images/search.png' %}' width="20px" height="17px" style="color: white;"></i>
                                     </button>
                                  </form>
                              </div>
                          </div>
                    </div>
                    <br><br><br>
                </fieldset>
                <fieldset>
                                  <div class="limiter">
                                      {% if tab == 1 %}
                                            <h2><strong>My micro content</strong></h2>
                                      {% else %}
                                            <h2><strong>All micro content</strong></h2>
                                      {% endif %}
                                        <br>
                                      {% if search %}
                                          <h6>Search:
                                              {% for s in search %}
                                                  {{ s }}
                                              {% endfor %}
                                          </h6>
                                      {% endif %}
		                                <div class="container-table100" >
                                            <div class="wrap-table100">
                                                <div class="table100 ver1 m-b-110">
                                                    <div class="table100-head">
                                                        <table>
                                                            <thead>
                                                                <tr class="row100 head" >
                                                                    <th class="cell100 column1">Title</th>
                                                                    <th class="cell100 column2">Author</th>
                                                                    <th class="cell100 column3">Options</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="table100-body js-pscroll">
                                                        <table>
                                                            <tbody>
                                                            {% for id, info in list_result.items %}
                                                                 {% if tab == 1 and user.username != info.1 %}
                                                                 {% else  %}
                                                                         {% if tab == 2 and info.3 == "no" %}
                                                                         {% else %}
                                                                                <tr class="row100 body">
                                                                                <td class="cell100 column1"><a style="font-weight: bold;font-size: 20px;" href="{% url 'micro_content_manager:micro_content_data' id%}"> {{ info.0}}</a></td>
                                                                                <td class="cell100 column2" style="font-weight: bold;font-size: 20px;">{{ info.1 }}</td>

                                                                                {% if user.username == info.1 %}
                                                                                     <td class="cell100 column3" style="margin-right: 30px;">
                                                                                         <a class="button" href="{% url 'micro_content_manager:edit' id %}" style="margin-right:30px;">Edit</a>
                                                                                         <a class="button" href="{% url 'micro_content_manager:delete' id %}" style=" background-color: red;">Delete</a>
                                                                                         <a class="button" href="{% url 'micro_content_manager:do_the_micro_content' id%}" style=" background-color: green;">Try it!</a>

                                                                                     </td>
                                                                                {% else %}
                                                                                     <td class="cell100 column3">
                                                                                         {% if info.2 == "yes" %}
                                                                                             <a class="button" href="{% url 'micro_content_manager:copy' id %}" style="margin-right: 50px;">Copy</a>
                                                                                         {% endif %}
                                                                                         <a class="button" href="{% url 'micro_content_manager:do_the_micro_content' id%}" style="margin-right: 50px; background-color: green;">Try it!</a>
                                                                                     </td>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                 {% endif %}
                                                                </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td>There is no micro-learning content with those search parameters</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                  </div>
                </fieldset>
            </div>
        </div>
    </div>


<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.css' %}" ></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}" ></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


	</script>
<!--===============================================================================================-->
	<script  src="{% static 'micro_content_manager/js/main.js' %}"></script>
</body>
</html>