{% load static %}
<!DOCTYPE html>
<style xmlns="http://www.w3.org/1999/html" xmlns:Tags="http://www.w3.org/1999/xhtml">
    .blue{
	    color: #2da5da;
    }
</style>
<html>
	<head>
		<title>Micro-content info</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
        <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>

	</head>
	<body class="bg-study">

		<div class="body body-s">
			<form method="post" class="sky-form">
                {% csrf_token %}
				<header>Micro-content info<a id="id_back_button" class="button" onclick="window.history.back()" >Back</a></header>
				    <fieldset>
                        <section>
                            <span class="blue">Title: </span>{{ micro_content.title}}
                        </section>

                        <section>
                            <span class="blue">Tags: </span>
                            {% for t in micro_content.mc_tags.all %}
                               <span > {{ t }} &nbsp; </span>
                            {% endfor %}
                        </section>

                        <section>
                            <span class="blue">Text: </span>
                            {% for text in micro_content.text %}
                               <span > {{ text }} </span> <br>
                            {% endfor %}
                        </section>

                    </fieldset>
                    <fieldset>
                        <section>
                            <span class="blue">Videos: </span>
                              {% for v in micro_content.videos %}
                                   <li>Video {{ forloop.counter }}</li>
                                    <span class="blue"> - Url: </span> {{ v.url }} <br>
                                    <span class="blue"> - Upload_form:</span> {{ v.video_upload_form }}
                              {% endfor%}
                        </section>
                    </fieldset>

                    <fieldset>
                        <section>
                               <span class="blue">Metadata: </span> <br>
                               <span class="blue"> - Author: </span>{{ micro_content.meta_data.author }} <br>
                               <span class="blue"> - Publication date: </span>{{ micro_content.meta_data.pub_date }} <br>
                               <span class="blue"> - Last modification: </span>{{ micro_content.meta_data.last_modification }} <br>
                               <span class="blue"> - Creation type: </span>{{ micro_content.meta_data.creation_type }}
                        </section>
                    </fieldset>





                     <fieldset>
                        <section>
                            <span class="blue"> - Quiz: </span><br>
                              {% for q in quiz%}
                                   <li>Question {{ forloop.counter }}:  {{ q.question}}</li>
                                  <span class="blue"> - Choices:</span>
                                       {% for c in q.choices %}
                                        <span>'{{ c }}' &nbsp;</span>
                                       {% endfor %} <br>
                                        <span class="blue"> - Answer: </span>  '{{ q.answer }}'  <br>
                                        <span class="blue"> - Explanation:  </span> {{ q.explanation }}
                              {% endfor%}
                        </section>
                    </fieldset>
				<footer>
                    {% if user.username == micro_content.meta_data.author %}
                            <a class="button" href="{% url 'micro_content_manager:edit' micro_content.id %}" style="background-color: green;">Edit</a>
                    {% else %}
                        {% if micro_content.allow_copy == "yes" %}
                             <a class="button" href="{% url 'micro_content_manager:copy' micro_content.id %}" style="background-color: green;">Copy</a>
                        {% endif %}
                    {% endif %}
				</footer>
			</form>

		</div>


	</body>
</html>