<!DOCTYPE html>
<style>
    #full-container {
        margin-left: 600px;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Data</title>
</head>

<body>
    <div id="full-container">
        <h2>Password Change</h2>
        <p><a class="button" href="{%  url 'user_page'%}">Go Home</a></p>
        <form method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Save changes</button>
        </form>

    </div>
</body>

</html>